<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.v8developmentstudio.rccguarulhos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".AberturaSplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_calendario"
            android:theme="@style/AppTheme.NoActionBar">
         </activity>

        <activity
            android:name=".activitys.DescricaoActivity"
            android:label="@string/informacoes"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.ListaEventosActivity"
            android:label="@string/app_eventos"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
